body{

font-family: Arial;

background:#fff0f6;

margin:0;

text-align:center;

}


header{

background:#d63384;

color:white;

padding:30px;

}


.card{

background:white;

width:300px;

margin:30px auto;

padding:20px;

border-radius:20px;

box-shadow:0 5px 15px gray;

}


button{

background:#d63384;

color:white;

border:none;

padding:10px 20px;

border-radius:20px;

}


#map{

height:300px;

margin:30px;

background:#ffe5ec;

border-radius:20px;

}


footer{

background:#f783ac;

color:white;

padding:20px;

}